---
import { Colors } from "../colors.ts";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title></title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style
	is:global
	define:vars={{
		borderRadius: "1em",
		accentColor: Colors.accent,
		accentHoverColor: Colors.accentHover,
		backgroundColor: Colors.background,
		fontColor: Colors.font,
	}}
>
	html {
		font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
		color: var(--fontColor);
		scroll-behavior: smooth;
	}
	body {
		background: linear-gradient(
			180deg,
			var(--accentColor) -80%,
			var(--backgroundColor) 40%
		);
		margin: 0;
		::selection {
			background-color: var(--accentColor);
			color: var(--fontColor);
		}
		a {
			color: var(--accentColor);
			text-decoration: none;
		}
		a:hover {
			text-decoration: underline;
			color: var(--accentHoverColor);
		}
	}
</style>
